{% extends "base.html" %}

{% block content %}

<div class="text-center">
    <h1>About this project:</h1>

    </br>

    <p>I am very interested in cyber security and online privacy. So when I first started learning about cryptography I
        was hooked, and a few of my mates and I would write simple ciphers to each other that we would have to decrypt.
        I have been on a never ending quest to teach my other friends and family these simple ciphers and even go as far
        as to teach them about the advanced cryptography their devices use everyday. I created this site as a better way
        to spread my love for cryptography.</p>

    </br>

    <p>To accomplish my task of teaching I had to create a fun and interactive experience. I did this by creating
        various demos and tools that are each accompanied by an easy to read explanation of what is going on behind the
        scenes.</p>
</div>
{% endblock %}