<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('views.home')}}">Encrypt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.generator')}}">Password Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.encryptpassword')}}">Passord Encryption Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.encryptfile')}}">File Encryption</a>
        </li>
        <a class="nav-link" href="{{ url_for('views.stego')}}">Steganography</a>
        <a class="nav-link" href="{{ url_for('views.ceasar')}}">Ceaser Cipher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.characters')}}">Similar Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.passwordcheck')}}">Check Password</a>
        </li>
      </ul>
    </div>
  </div>
</nav>