{% extends "base.html" %}

{% block content %}

<div class="text-center">
    <h1>Check The Strenght Of Passwrods</h1>
</div>


<div class="text-center">
    <form onsubmit="return validateForm()">

        </br>

        <input type="text" class="form-control" placeholder="Please enter an example password here"
            name="password_input">

        </br>

        <button type="submit" class="btn btn-primary">Check</button>

    </form>

    </br>

    <p id="output" style="color: red;"></p>

    <h1>About this tool:</h1>
    </br>
    <p>The idea behind this tool is simple. Hackers are always trying to get into our accounts for various reasons. This
        tool will let you know if your password is easy for a hacker to obtain.</p>
    </br>
    <p>It is widley accepted in the cyber security industry that your password should be atleast 8 characters long and
        contain numbers and symbols to create a password of minimum security. However using an rtx4090 an attacker could
        crack a password of this length in under an hour in some circumstances. To combat this I suggest at minimum 10
        characters and preferably atleast 16 characters long. This length with a strong random password could take years
        to crack, making it worthless to hackers.</p>
    </br>
    <p>Making sure your password is completely random and unique for each website and app is just as important as the
        length of the password. Hackers have many tools and techniques to guess passwords that could be related to you,
        your loved ones, your hobbies, your city and much more to speed up the cracking process. Your password needs to
        be unique for each service as everyday there are password databases for sael on the internet that have been
        obtained from hacked websites. If your password is in this databse and you have used it on multiple websites,
        the hackers would now have access to all those accounts.</p>
    </br>
    <p>The best and simplest way to have strong and secure passwords is to use a password manager. I recommend Dashlane
        and 1Password for paid managers and Bitwarden for a free alternative. These apps will create impossible to crack
        passwords that are unique for each website and app you use, while at the same time remembering them for you and
        autofilling them for you.</p>

</div>

<script>
    function validateForm() {
        event.preventDefault();

        var passwordInput = document.querySelector('input[name="password_input"]');

        const symbols = ["!", "@", "#", "$", "%", "^", "&", "*", "(", ")", "-", "_", "=", "+", "[", "]", "{", "}", ";", ":", "'", '"', ",", ".", "/", "<", ">", "?", "|", "`", "~"];
        const numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        const lowerCase = "abcdefghijklmnopqrstuvwxyz".split("");
        const upperCase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("");

        const hasSymbol = symbols.some(symbol => passwordInput.value.includes(symbol));
        const hasNumber = numbers.some(number => passwordInput.value.includes(number));
        const hasLowerCase = lowerCase.some(lowerCase => passwordInput.value.includes(lowerCase));
        const hasUpperCase = upperCase.some(upperCase => passwordInput.value.includes(upperCase));
        var p = document.getElementById('output');

        const output = []

        if (!hasSymbol) {
            output.push("Consider adding a symbol to your password<br>");
        }
        if (!hasNumber) {
            output.push("Consider adding a number to your password<br>");
        }
        if (!hasLowerCase) {
            output.push("Consider adding a lower case letter to your password<br>");
        }
        if (!hasUpperCase) {
            output.push("Consider adding a upper case letter to your password<br>");
        }
        if (passwordInput.value.length < 10) {
            output.push("Consider making your password longer (alteast 10 characters long)<br>");
        }
        if (output.length > 0) {
            p.innerHTML = output.join("");
            return true;
        }
        p.innerHTML = "Strong password! Just make sure this password is not used on more than one website! And make sure to use a unique password that can not be related to you in any way! Lastly try to not use a common password!";
        return true;
    }
</script>

{% endblock %}