{% extends "base.html" %}

{% block content %}

<div class="text-center">
    <h1>See How Your Passwords Are Stored</h1>
</div>

<div class="text-center">
    <form method="POST" action="{{ url_for('views.encryptpassword') }}">

        </br>

        <input type="text" class="form-control" placeholder="{{password}}" name="password_input" aria-label="Passord"
            aria-describedby="basic-addon1">

        </br>

        <button type="submit" class="btn btn-primary">Encrypt</button>

    </form>

    </br>

    <input type="text" class="form-control" placeholder="{{ hashed }}" aria-label="Username"
        aria-describedby="basic-addon1" readonly>

    </br>
    <h1>About this tool:</h1>
    </br>
    <p>One of the biggest problems in online security is online data breaches, this is where hackers compromise a
        businesses servers and steal files and information. This happens to multiple companies each day and a good
        percentage of these stolen files include user emails and passwords which are made public on the internet. To
        fight this companies never store your password in a readable form, they save a hash of the passwords. A hash is
        a mathematical algorithm that given the same input will produce the same output, however the beauty of this is
        that there is no way to get the input from the output. So when you enter your password to login into a website
        or device the system hashes your password and checks the hash it has against the hash that has been stored and
        never sees your password.</p>
    </br>
    <p>To combat this hackers started building password dictionaries that were large databases of possible passwords and
        their hashes so if a hacker found a hash they could then look it up in these dictionaries and find the password
        that was used to create it. The companies then had to improve their password storage again and started adding
        what are called salts to a password before hashing it. These salts are a random string of characters that are at
        least 16 characters long and essentially make 2 of the same password unique as the salts change the output hash.
        This breaks the dictionaries as the hackers would need significantly more resources to check each password with
        each possible salt. I recommend researching this further as this is too complicated to explain in detail here.
    </p>
    </br>
    <p>Just know that in the above tool you can see all these password storage techniques in action. The output hash is
        displayed in the gray box. You can see the random salts in action when you try the same password twice in a row,
        the two output hashes will be different and this is what makes it near impossible to use a dictionary attack
        against.</p>
    </br>
    </br>
</div>

{% endblock %}